 <div class="ml-3 mr-3 ParentDiv backclr">
                  <div class="row1 mt-2 col-md-12">
                      <div class="col-md-2 inputlabel">{{this.sharedService.headerdata[0]?.jsonData[0]?.data.label1}}</div>
                      <div class="col-md-3 mb-1 p-0"><input readonly class="maininputs" type="text"></div>
                      <div class="col-md-2 mt-3"></div>
                      <div class="col-md-2 inputlabel">{{this.sharedService.headerdata[0]?.jsonData[0]?.data.label2}}</div>
                      <div class="col-md-3 p-0"><input readonly class="maininputs" type="text"></div>
                  </div>
                  <div class="row1 col-md-12">
                    <div class="col-md-2 inputlabel">{{this.sharedService.headerdata[0]?.jsonData[0]?.data.label3}}</div>
                    <div class="col-md-3 mb-1 p-0"><input readonly class="maininputs" type="text"></div>
                    <div class="col-md-2 mt-3"></div>
                    <div class="col-md-2 inputlabel">{{this.sharedService.headerdata[0]?.jsonData[0]?.data.label4}}</div>
                    <div class="col-md-3 p-0"><input readonly class="maininputs" type="text"></div>
                </div>
                <div class="row1 col-md-12">
                    <div class="col-md-2 inputlabel">{{this.sharedService.headerdata[0]?.jsonData[0]?.data.label5}}</div>
                    <div class="col-md-3 mb-1 p-0"><input readonly class="maininputs" type="text"></div>
                    <div class="col-md-2 mt-2"></div>
                    <div class="col-md-5 inputlabel"><a class="inputlabel" href="">{{this.sharedService.headerdata[0]?.jsonData[0]?.data.label6}}</a></div>
                </div>
              </div> 
          